---
import { cn } from '@/utils/cn';
import type { HTMLAttributes } from 'astro/types';

export interface Props extends HTMLAttributes<'div'> {}

const { class: className, ...props } = Astro.props;

const classes = cn(
  "text-muted-foreground text-sm",
  className
);
---

<div class={classes} data-slot="card-description" {...props}>
  <slot />
</div>
